.price
    &__title
        margin-bottom: 20px
    &-list
        display: flex
        flex-wrap: wrap
        // max-width: 29%

        &__item
            max-width: 374px
            margin-bottom: 20px
            margin-right: 20px
            border-radius: 15px
            background-color: white
            &:nth-child(3)
                margin-right: 0px
            &:nth-child(6)
                margin-right: 0px
            &:nth-child(9)
                margin-right: 0px
            &:nth-child(7)
                margin-bottom: 0px
            &:nth-child(8)
                margin-bottom: 0px
            &:nth-child(9)
                margin-bottom: 0px
            // &:nth-child(7 8 9)
            //     margin-bottom: 0px
                
                
            &-container
                display: flex
                align-items: center
                justify-content: space-between
            &-nav
                &__title
                    font-size: 16px
                    line-height: 16px
                &__text
                    font-size: 16px
                    line-height: 16px
                    color: #999999
                &__button
                    border-radius: 10px
                    color: #CC9933
                    border-color: #CC9933
