a {
  text-decoration: none;
  color: #666666;
}

a:hover {
  color: gray;
}

.container {
  max-width: 1170px;
}

body {
  background-color: #E5E5E5;
}

h4 {
  color: #333;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px !important;
}

.nav {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 45px;
  color: #666666;
}

.nav-btns {
  padding-left: 60px;
  border-left: 1px solid #E1E1E1;
}

.nav-btns__btn {
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
}

.nav-btns__btn:nth-child(1) {
  margin-right: 40px;
}

@media (max-width: 1124px) {
  .nav {
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    justify-content: space-between;
  }
  .nav-list__item {
    margin-right: 30px;
  }
}

@media (max-width: 990px) {
  .nav {
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    justify-content: space-between;
  }
  .nav-list__item {
    margin-right: 30px;
  }
  .nav-btns {
    display: none;
    padding-left: 0px;
    border-left: 0px;
  }
}

.cards {
  display: flex;
  justify-content: center;
}

.cards-title {
  margin-top: 50px;
  margin-bottom: 20px;
}

.cards__list {
  margin-right: 23px;
  display: flex;
  flex-direction: column;
}

.cards__list-item {
  padding: 30px 234px 30px 30px;
  border-radius: 15px;
}

.cards__list-item-title {
  margin-bottom: 15px;
}

.cards__list-item-price {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 47px;
}

.cards__list-item-link {
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
}

.cards__block {
  padding: 200px 234px 30px 30px;
  border-radius: 15px;
}

.cards__block-title {
  font-size: 60px !important;
  line-height: 60px !important;
  margin-bottom: 15px;
}

.cards__block-price {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 47px;
}

.cards__block-link {
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
}

@media (max-width: 1200px) {
  .cards__list-item {
    padding: 30px 230px 30px 30px;
  }
  .cards__block {
    padding: 200px 235px 30px 30px;
  }
}

@media (max-width: 1168px) {
  .cards__list-item {
    padding: 30px 220px 30px 30px;
  }
  .cards__block {
    padding: 200px 225px 30px 30px;
  }
}

@media (max-width: 1148px) {
  .cards__list-item {
    padding: 30px 180px 30px 30px;
  }
  .cards__block {
    padding: 200px 195px 30px 30px;
  }
}

@media (max-width: 1088px) {
  .cards__list-item {
    padding: 30px 160px 30px 30px;
  }
  .cards__block {
    padding: 200px 175px 30px 30px;
  }
}

@media (max-width: 1038px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .cards__list-item {
    max-width: 573px !important;
    padding: 30px 0px 30px 30px !important;
  }
  .cards__block {
    max-width: 573px !important;
    padding: 200px 0px 30px 30px !important;
  }
}

@media (max-width: 500px) {
  .cards__list-item {
    padding: 20px 0px 20px 20px !important;
  }
  .cards__list-item-title {
    font-size: 32px !important;
  }
  .cards__list-item-price {
    margin-bottom: 20px;
  }
  .cards__block-title {
    font-size: 32px !important;
    line-height: 40px !important;
  }
  .cards__block-price {
    margin-bottom: 20px;
  }
}

.about {
  margin-top: 70px;
}

.about__text {
  max-width: 80%;
  font-size: 16px;
  line-height: 200%;
}

.services__title {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-list__item {
  border-radius: 15px;
  background-color: white;
  max-width: 47%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
}

.services-list__item__nav {
  padding: 26px 100px 30px 45px;
}

.services-list__item__nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933 !important;
}

.services-list__item__nav__text {
  font-size: 16px;
  line-height: 200%;
}

.advantage__title {
  margin-bottom: 20px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.advantage-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 15px;
  background-color: white;
  max-width: 23%;
  padding: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.advantage-list__item__img {
  margin-bottom: 10px;
}

.advantage-list__item__text {
  font-size: 16px;
  line-height: 200%;
}

.price__list {
  display: flex;
  flex-wrap: wrap;
}

.price__list-item {
  background-color: white;
  border-radius: 15px;
  max-width: 374px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.price__list-item:nth-child(3) {
  margin-right: 0px;
}

.price__list-item:nth-child(6) {
  margin-right: 0px;
}

.price__list-item:nth-child(7) {
  margin-bottom: 0px;
}

.price__list-item:nth-child(8) {
  margin-bottom: 0px;
}

.price__list-item:nth-child(9) {
  margin-right: 0px;
}

.price__list-item-container {
  padding: 20px;
}

.price__list-item-img {
  max-width: 374px !important;
}

.price__list-item__rating {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.price__list-item__rating-text {
  font-size: 16px;
  line-height: 16px;
}

.price__list-item__container-subtitle {
  margin-top: 16px;
  margin-bottom: 20px;
  color: #999;
}

.price__list-item-button {
  padding: 13px 20px 13px 20px;
  border-radius: 15px;
  border-color: #CC9933;
  color: #CC9933 !important;
  font-size: 16px;
  line-height: 16px;
}

.price__list-item-last {
  border-radius: 15px;
  max-width: 374px;
  padding: 0px 55px 30px 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../img/price/price-9.png);
  background-position: center;
  background-repeat: no-repeat;
}

.price__list-item-last-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: white;
}
/*# sourceMappingURL=main.css.map */