a {
  text-decoration: none;
  color: #666666;
}

.container {
  max-width: 1170px;
}

body {
  background-color: #E5E5E5;
}

h4 {
  color: #333;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px !important;
}

.nav {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 45px;
  color: #666666;
}

.nav-btns__btn {
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
}

.nav-btns__btn:nth-child(1) {
  margin-right: 40px;
}

.offer {
  margin-top: 40px;
}

.offer__title {
  margin-bottom: 20px;
}

.offer-container {
  display: flex;
}

.offer-container-double {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 23px;
}

.offer-container-double-block {
  padding: 30px 0px 30px 30px;
  border-radius: 15px;
  max-width: 100%;
}

.offer-container-double-block__title {
  max-width: 60%;
  margin-bottom: 15px;
}

.offer-container-double-block__text {
  opacity: 0.8;
  color: white;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 47px;
}

.offer-container-double-block__link {
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
}

.offer-container-one {
  display: flex;
  border-radius: 15px;
  background-image: url(../img/offer/offer-img-3.png);
  background-repeat: no-repeat;
  width: 50%;
}

.offer-container-one-block {
  max-width: 50%;
  padding-top: 200px;
  padding-left: 40px;
}

.offer-container-one-block__title {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 15px;
}

.offer-container-one-block__text {
  opacity: 0.8;
  color: white;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 47px;
}

.offer-container-one-block__link {
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
}

.block__fst {
  background-image: url(../img/offer/offer-img-1.png);
  margin-bottom: 23px;
}

.block__nd {
  background-image: url(../img/offer/offer-img-2.png);
}

.about {
  margin-top: 70px;
}

.about__text {
  max-width: 80%;
  font-size: 16px;
  line-height: 200%;
}

.services__title {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-list__item {
  border-radius: 15px;
  background-color: white;
  max-width: 47%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
}

.services-list__item__nav {
  padding: 26px 100px 30px 45px;
}

.services-list__item__nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933 !important;
}

.services-list__item__nav__text {
  font-size: 16px;
  line-height: 200%;
}

.advantage__title {
  margin-bottom: 20px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.advantage-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 15px;
  background-color: white;
  max-width: 23%;
  padding: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.advantage-list__item__img {
  margin-bottom: 10px;
}

.advantage-list__item__text {
  font-size: 16px;
  line-height: 200%;
}

.price__title {
  margin-bottom: 20px;
}

.price-list {
  display: flex;
  flex-wrap: wrap;
}

.price-list__item {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.price-list__item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */